
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body { font-family: 'Josefin Sans', sans-serif; font-weight: 100 !important;
	padding-top: 50px;
	color: white;
	background: #2C3E50; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2C3E50 , #6f77bc); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2C3E50 , #6f77bc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}